.todolist_wrapper {
  display: flex;
  margin: 0 auto;
  width: 300px;
  flex-direction: column;
  justify-content: center;
}

.todolist_wrapper .header {
  justify-content: center;
}

.todolist_wrapper .task .delete {
  color: red;
  float: right;
  display: none;
  cursor: pointer;
}

.todolist_wrapper .task:hover .delete {
  display: inline-block;
}

.todolist_wrapper .task.done {
  text-decoration: line-through;
}

.li_wrapper_task {
  list-style-type: none;
}
/*# sourceMappingURL=todolist.css.map */
